<button (click)="isAuthenticated =! isAuthenticated" class="btn btn-secondary mb-5">
  Toggle is Authenticated
</button>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas odio a nunc dapibus, convallis tempor ipsum
  pharetra. Aliquam quis velit euismod, venenatis lacus quis, maximus risus. Quisque imperdiet metus nec molestie
  venenatis. Maecenas metus ligula, tincidunt ac lacinia quis, elementum sed augue. Donec quis leo at eros imperdiet
  rutrum nec vitae nisi. Suspendisse potenti. Proin vehicula mattis est eget placerat. Donec finibus faucibus nunc in
  tincidunt. Pellentesque accumsan, odio eget pellentesque consequat, neque lacus molestie tellus, venenatis blandit
  lacus nibh in lacus. Maecenas pellentesque, lectus vitae posuere interdum, ipsum ex dapibus diam, sed consequat neque
  est ut metus. Sed velit tortor, sollicitudin quis pretium et, pellentesque vitae ante. Sed finibus nec neque sed
  tincidunt. Suspendisse eget pellentesque quam, quis aliquam metus. Vivamus a erat quis urna viverra molestie.
  Phasellus libero sapien, lacinia ac tempor in, malesuada id nisl. Aliquam erat volutpat.

  Sed commodo nec lacus nec condimentum. Curabitur lacinia neque accumsan gravida ultricies. Nulla eros nulla, mollis at
  volutpat nec, scelerisque vel ex. Fusce vel tristique magna, vitae commodo eros. Aliquam erat volutpat. Nullam aliquam
  odio non volutpat consectetur. Aliquam efficitur ante eu rutrum pretium. Etiam rutrum hendrerit ultricies. Morbi ut
  nibh faucibus, vestibulum purus non, placerat nisi. Curabitur a lacinia lectus, quis tincidunt sem. Donec nec egestas
  ex. Suspendisse interdum in erat nec facilisis. Praesent magna lorem, tempor at pellentesque a, viverra vel justo.

  Nunc eleifend, magna ac tempor pretium, mauris diam viverra metus, nec maximus justo augue interdum dolor. Cras quis
  risus turpis. Pellentesque egestas vel nibh sed tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
  auctor, augue et tincidunt auctor, augue turpis hendrerit erat, sed pharetra ante odio id nunc. Sed et mauris sit amet
  elit iaculis scelerisque. Etiam in urna et ipsum faucibus bibendum non vel enim. Vestibulum elit turpis, malesuada sit
  amet venenatis at, fringilla non elit.</p>
