<div class="jumbotron">
  <h1 class="display-4">Lorem ipsum!</h1>
  <p class="lead">Cras eu nisi ac justo ultricies varius sed non odio. Donec tristique tortor felis, sit amet faucibus
    quam viverra ut. Phasellus at velit dolor.</p>
  <hr class="my-4">
  <p>Aenean rutrum, nunc consectetur eleifend pretium, lorem justo elementum nibh, vel hendrerit libero mi ultrices
    urna. Quisque et porttitor massa. In lorem est, suscipit sed pharetra ac, efficitur nec dui. Nulla nec felis erat.
    Ut orci sem, viverra luctus nibh at, blandit iaculis nisl. Aenean sed accumsan nibh. Quisque faucibus metus ut
    fermentum iaculis. Aenean laoreet enim eget viverra interdum. Nullam felis est, finibus quis est vitae, finibus
    mollis ipsum. Vivamus sed ante ut arcu viverra suscipit sit amet gravida nulla. Proin vitae lobortis risus.
    Vestibulum sed pharetra velit, eu volutpat nibh.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['./', 'about']" role="button">About</a>
  </p>
</div>
